
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


* {
    margin: 0;
    
    
}

.wrapper {
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    align-items: center;
}

.header__sections {
    display: flex;
    align-items: center;
}

.header__logo {
    max-width: 100%;
    height: 100%;
}

.header__sections nav a {
    color: white;
    margin-left: 40px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}

.header__button {
    margin-left: 30px;
    border: none;
    background-color: #A259FF;
    color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 80px 195px;
    gap: 20px;
}

.main__button {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.main__title {
    width: 510px;
    font-weight: 600;
    font-size: 67px;
    color: white;
    line-height: 73.7px;
    font-family: 'Work Sans', sans-serif;
}

.main p {
    
    color: white;
    font-weight: 400;
    line-height: 160%;
    font-size: 22px;
    max-width: 510px;
    line-height: 35.2px;
    margin: 0;
}

.statistics__container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.statistics {
    width: 150px;
    color: white;
    font-size: 28px;
    line-height: 39.2px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;;
}

.main__content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title__text {
    max-height: 250px;
    margin-bottom: 30px;
    width: 100%;
}

.title__text p {
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.main__image {
    align-self: flex-end; 
    width: 510px;
    height: 510px;
}

.section__title h2{
    font-size: 38px;
    color: white;
    line-height: 120%;
    font-family: 'Work Sans', sans-serif;
    
}

.section__title p {
    line-height: 160%;
    font-family: 'Work Sans', sans-serif
}

.section__title {
    align-items: flex-start;
    width: 1050px;
    height: 50px;

}

.big__picture { 
    width: 330px;
    height: 330px;
    margin-bottom: 15px;
    margin-top: 60px;
}



.small__pictures {
    min-width: 150px;
    height: 100px;
    margin: 0 5px;
    justify-content: space-between;
    gap: 15px;
}

.small__picture {
    display: flex;
    gap: 15px;
}



.card__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.box {
    background-color: #A259FF;
    color: white;
    padding: 10px;
    width: 95px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__section {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.title-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}

.title-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-button button {
    margin-left: 100px;
    background: none;
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
    border-color: #A259FF;
    border-style: solid;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 12px;
    font-weight: 600;
    font-size: 16px;
}

.profiles__container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.profile__card {
    align-items: center;
    background-color: #3B3B3B;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 238px;
    padding: 20px;
    width: 240px;
}

.profile__row {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.profile__name {
    margin-top: 20px;
    font-size: 22px;
    color: white;
    line-height: 140%;
    font-family: 'Work Sans', sans-serif;
}

.sales {
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

.sales__number {
    font-family: 'Work Sans', sans-serif;
}

.categories__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.category-img {
    filter: blur(3px);
}

.category-icon {
    justify-content: center;
    align-items: center;
}

.categories__card {
    text-align: center;
    position: relative;
}

.collection-name {
    background-color: #3B3B3B;
    padding: 20px 30px 25px 30px;
    border-radius: 0 0 20px 20px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
}

.img-container {
    position: relative;
}

.img-container img {
    display: block;
    margin: 0 auto;
}

.username {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 5px;
}

.username h3 {
    font-weight: 400;
    font-size: 16px;
}

.price__container {
    display: flex;
}

.price-amount {
    width: 100%;
}

.price-amount p {
    font-size: 12px;
    color: #858584;
}

.price-amount h3 {
    font-size: 16px;
    font-weight: 400;
}

.bid-amount {
    width: 100%;
    text-align: right;
}

.bid-amount p {
    font-size: 12px;
    color: #858584;
}

.bid-amount h3 {
    font-size: 16px;
    font-weight: 400;
}

.img-section {
    width: 100%;
    height: 100vh;
}

.img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tutorial-card {
    background-color: #3B3B3B;
    display: flex;
    width: 330px;
    padding: 10px 30px 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.tutorial-card h2 {
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.tutorial-card p {
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

.news-container {
    display: flex;
    padding: 60px;
    align-items: center;
    gap: 10px;
    background-color: #3B3B3B;
    justify-content: space-between;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
}

.news-text {
    display: flex;
    flex-direction: column;
}

.news-text h3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 120px;
    color: white;
}

.news-text p {
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.footer {
    background-color: #3B3B3B;
    height: auto;
    padding: 40px 195px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Work Sans', sans-serif;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.nft-marketplace-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.info-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    height: auto;
    position: relative;
    width: fit-content;
    margin-top: 30px;
    width: 238px;
}

.info-text p {
    font-size: 16px;
    color: #CCCCCC;
    font-weight: 400;
    line-height: 140%;
}

.info-text h2 {
    color: white;
}

.join {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    height: auto;
}

.social-media {
    display: flex;
    gap: 10px;
    position: relative;
    width: fit-content;
    height: auto;
}

.explore {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: auto;
    position: relative;
    align-items: flex-start;
    width: 240px;
}

.explore-text {
    font-size: 22px;
    font-weight: 700;
    color: white;
    text-align: left;
}

.page-links {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    width: fit-content;
    align-items: flex-start;
    gap: 20px;
}

.page-links a {
    text-decoration: none;
    color: #CCCCCC;
}

.subscribe-us {
    display: flex;
    align-items: flex-start;
    height: auto;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

.subscribe-form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    position: relative;
    align-items: flex-start;
}

.subscribe-form-box p {
    width: 330px;
    color: #CCCCCC;
    line-height: 140%;
}

.footer-bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-bottom hr {
    color: #CCCCCC;
}

.footer-bottom p {
    color: #CCCCCC;
    font-size: 12px;
}

.email-input {
    border: 0;
    height: 60px;
    min-width: 420px;
    position: relative;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 20px;
    
}

.input-button {
    display: flex;
}

.input-button button{
    border: 0;
    background-color: #A259FF;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    padding: 0 50px;
    font-size: 16px;
    height: 100%;
    
}

.nft__row {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.burger-icon {
    display: none;
}

/* RESPONSIVE DESIGN */

@media (max-width: 835px) {
    .header__sections nav {
        display: none;
    }

    .header__button {
        display: none;
    }

    .main__image img{
        height: 330px;
        width: 330px;
    }

    .main__image {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .burger-icon {
        display: block;
        cursor: pointer;
    }

    .main {
        padding: 80px 10px 80px 20px;
    }

    .main__title {
        font-size: 38px;
        line-height: 45.6px;
    }

    .title__text p {
        font-size: 16px;
    }

    .card__container:nth-child(3){
        display: none;
    }

    .main__content {
        height: 381px;
        width: 690px;
    }

    .section__title {
        height: 93px;
        width: 690px;
    }

    .profile__row:nth-child(2){
    display: none;
    }

    .profile__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile__card {
        height: 100px;
        width: 330px;
        display: flex;
        flex-direction: row;
    }

    .nft-card__container:nth-child(3) {
        display: none;
    }

    .nft__row {
        display: flex;
    }

    .tutorial-card {
        width: 210px;
        height: 360px;
        padding: 10px 20px 30px 20px;

    }

    .tutorial-card {
        font-size: 16px;
    }

    .tutorial-card h2 {
        height: 22px;
    }

    .tutorial-card p {
        font-size: 12px;
        
    }

    .profile__row {
        display: flex;
    }

    .news-img-container img {
        width: 300px;
        height: 280px;
    }

    .news-text h3{
        font-size: 28px;
    }

    .news-text p {
        font-size: 16px;
    }

    .news-container {
        padding: 40px 30px;
    }

    .input-container input {
        height: 48px;
        width: 20px;
    }

    .footer {
        width: 820px;
        height: 703px;
        padding: 10px;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
    }
    
    .footer-info {
        margin-top: 20px;
    }

}

/* MOBILE RESPONSIVE */

@media (max-width: 375px){
    .main__content {
        display: flex;
        flex-direction: column;
    }

    .main__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title__text {
        width: 315px;
    }

    .main__title  {
        font-size: 24px;
    }

    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .card__container:nth-child(2){
        display: none;
    }

    .section__title {
        width: 315px;
    }

    .section__title h2 {
        font-size: 28px;
    }

    .section__title p {
        font-size: 16px;
    }

    .statistics {
        font-size: 22px;
    }

    .profile__card img {
        width: 60px;
        height: 60px;
    }

    .profile__card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 315px;
        height: 100px;
    }

    .nft__row {
        display: flex;
        flex-direction: column;
    }
}






